<!DOCTYPE html>
<html lang="en">
@include('layouts/main/partials/_head')

<body>
@include('layouts/main/partials/_header')

@!section('content')

@include('layouts/main/partials/_footer')
@include('layouts/main/partials/_scripts')
</body>
</html>