<!DOCTYPE html>
<html lang="en">
 @include('layouts/dashboard/partials/_head')

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        
        
        {{--  import sidebar  --}}
        @include('layouts/dashboard/partials/_sidebar')

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{--  import top bar  --}}
                @include('layouts/dashboard/partials/_topbar')
                

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>
                        
                    </div>
                    {{--  import messages  --}}
                    @include('layouts/dashboard/partials/_messages')

                    
                    @!section('content')

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {{--  import footer  --}}
            @include('layouts/dashboard/partials/_footer')

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    
    {{--  import scripts  --}}
    @include('layouts/dashboard/partials/_scripts')

</body>

</html>